﻿@page "/"

<PageTitle>Index</PageTitle>
<Navbar></Navbar>

<div class="row">
    <div class="col s12 l6 push-l3">
        <p class="center"><b>Formulário de Cadastro</b></p>
        <Formulario></Formulario>
    </div>
</div>

@code {




}