@inject IJSRuntime JS

<EditForm Model="@usuario" OnValidSubmit="Logar">
    <DataAnnotationsValidator />
    <div class="input-field col s12">
        <i class="material-icons prefix">person</i>
        <input type="text" id="username" name="username" @bind="usuario.username" />
        <label for="username">username</label>
        <ValidationMessage For="@(() => usuario.username)" style="color:red;"/>
    </div>
    <div class="input-field col s12">
        <i class="material-icons prefix">password</i>
        <input type="password" id="password" name="passord" @bind="usuario.password" />
        <label for="password">password</label>
        <ValidationMessage For="@(() => usuario.password)" style="color:red;" />
    </div>
    <div class="col s12">
        <input type="submit" value="Logar" class="btn right" />
    </div>
</EditForm>




@code {
    Usuario usuario = new Usuario();

    protected override async Task OnInitializedAsync()
    {

    }

    async public void Logar()
    {
        usuario.data = DateTime.Now.ToString("dd/MM/yyyy");
        await JS.InvokeVoidAsync("Login", usuario.username);
    }
}